// SPDX-License-Identifier: (GPL-2.0+ OR X11)

/dts-v1/;
#include "suniv-f1c100s.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/display/st7701initseq.h>

/ {
	model = "ArkEPass Generic";
	compatible = "rhodesisland,electric-pass",
	         "allwinner,suniv-f1c200s",
			 "allwinner,suniv-f1c100s";

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		// this bootargs will not work. change bootargs in uboot!
		bootargs = "serial0:115200n8 console=ttyS0,115200 console=tty0 earlyprintk rootwait init=/preinit root=/dev/mtdblock2 rootfstype=squashfs overlayfsdev=/dev/mtdblock3 fbcon=rotate:2 debug drm.debug=0x1ff";

	};

	panel: panel {
		compatible = "lattland,mostima", "simple-panel";	// 360x640 3 inch

		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			panel_input: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&tcon0_out_lcd>;
			};
		};
	};
	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	reg_lradc: reg_lradc {
		compatible = "regulator-fixed";
		regulator-name = "lradc_vref";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 10000 0>;
		

		brightness-levels = <0 4 8 16 32 64 128 196 220 255>;
		default-brightness-level = <6>;
	};

	// reserved-memory {
    //       #address-cells = <1>;
    //       #size-cells = <1>;
    //       ranges;
	// 	  cedar_reserved: cedar_reserved@80100000 {
	// 			compatible = "shared-dma-pool";
	// 			reg = <0x80100000 0xc0000>;
	// 			no-map;
	// 		};
	// };

	st7701initseq: st7701initseq {
		compatible = "lattland,st7701-initseq";
		status = "disabled";
	};
};

&pio{


	spi1_pins: spi1-pins {
		pins = "PE7","PE8", "PE9", "PE10";
		function = "spi1";
		bias-pull-up;
	};

	rtp_pins_0: rtp-pins-0 {
		pins = "PA0";
		function = "rtp";
	};

    rtp_pins_01: rtp-pins-0 {
		pins = "PA0","PA1";
		function = "rtp";
	};
	
	lcd_rgb565_no_de_pins: lcd-rgb565-no-de-pins {
		pins = "PD1", "PD2", "PD3", "PD4", "PD5",
			"PD6", "PD7", "PD8", "PD9", "PD10", "PD11", 
			"PD13", "PD14", "PD15", "PD16", "PD17",
			"PD18", "PD20", "PD21";
		function = "lcd";
	};

    i2s_pins_pe: i2s-pins-pe {
		pins = "PE3","PE5","PE6","PA1";
		function = "i2s";
	};

    i2s_pins_pa: i2s-pins-pa {
		pins = "PE3","PA2","PA3","PA1";
		function = "i2s";
	};

    
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm0_pe_pins>;
	status = "okay";
};


&spi0 {
	status = "okay";

	spi-nand@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <80000000>;
		status = "okay";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x100000>;
				read-only;
			};

			partition@1 {
				label = "boot";
				reg = <0x100000 0xC00000>;
			};

			partition@2 {
				label = "rootfs";
				reg = <0xD00000 0x7300000>;
			};
		};
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
	status = "disabled";
	spidev@0 {
	   compatible = "rohm,dh2228fv";	/* Same as "spidev" but without errors at boot. Search "buggy DT" to understand */
	   spi-max-frequency = <80000000>;
	   reg = <0>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pa_pins>;
	status = "disabled";
};
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pe_pins>;
	status = "disabled";
};

&mmc0 {	
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	status = "okay";
	broken-cd;
};

&otg_sram {
	status = "okay";
};

&usb_otg {
	dr_mode = "otg"; /* otg host peripheral */
	status = "okay";
};

&usbphy {
	status = "okay";
};

&cedar_ve {
	status = "okay";
};

&ion {
	status = "okay";
};

&de {
	status = "okay";
};

&fe0 {
	status = "okay";
};

&be0 {
	status = "okay";
};

&tve0 {
	status = "disabled";
};

&rtp {
	status = "okay";
	pinctrl-0 = <&rtp_pins_0>;
	pinctrl-names = "default";
};

&tcon0 {
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_rgb565_no_de_pins>;
	status = "okay";
};

&tcon0_out {
	tcon0_out_lcd: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_input>;
	};
};

&lradc {
	vref-supply = <&reg_lradc>;
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pd_pins>;
	status = "disabled";
};